@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Archivo";
  font-weight: 400;
}

body {
  background: #FFFEF9;
  color: #000000;
  font-family: "Archivo";
  font-weight: 400;
  transition: all 0.5s ease 0.2s;
}

nav {
  transition: all 0.5s ease;
}

p {
  font-size: 18px !important;
  color: rgba(0,0,0,0.8);
  line-height: 32px !important;
}

.sm p {
  font-size: 16px !important;
  color: rgba(0,0,0,0.8);
  line-height: 28px !important;
}

h1 {
  font-size: clamp(2.375rem, 0.586rem + 5.725vw, 4.25rem);
  font-style: normal;
  font-weight: 800;
  line-height: 118%;
  letter-spacing: -0.68px;
}

h2 {
  font-size: clamp(1.875rem, 0.086rem + 5.725vw, 3.75rem);
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.9px;
}

h3 {
  font-size: clamp(1.875rem, 1.2786rem + 1.9084vw, 2.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.28px;
}

h4 {
  font-size: clamp(1.5rem, 1.0229rem + 1.5267vw, 2rem);
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.26px;
}

h5 {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
  letter-spacing: 0.26px;
}

h6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
  letter-spacing: 0.4px;
}

.transparent-card {
  padding: 32px 32px 40px 32px;
  border: 1px solid rgba(0,0,0,0.16);
  border-radius: 16px;
}

.white-card {
  position: relative;
  padding: 32px 32px 40px 32px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(168, 161, 125, 0.12), 0px 0px 4px 0px rgba(0, 0, 0, 0.10), 0px 0px 1px 0px rgba(0, 0, 0, 0.13);
}

.white-card a {
  font-weight: 600;
}

.dark-card {
  position: relative;
  padding: 32px 32px 40px 32px;
  border-radius: 16px;
  background: #323232;
  color: #fff;
  overflow: hidden;

  a {
    color: #FFE99B;
  }
}

.badge {
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.badge.save {
  background: #E3FCDC;
  color: #008207;
}

.badge.borrow {
  background: #FCEDFF;
  color: #A127B5;
}

.badge.insure {
  background: #E5FCFF;
  color: #007B89;
}

.checklist-ul ul {
  font-size: 16px;
  margin-left: 16px;
  list-style-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM1MGMyNTYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGVjayI+PHBhdGggZD0iTTIwIDYgOSAxN2wtNS01Ii8+PC9zdmc+");

  li {
    margin-bottom: 12px;
    padding-left: 12px;
  }
}

div[role="dialog"],
div[data-radix-popper-content-wrapper] {
  font-family: "Archivo", sans-serif;
}

table {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}

thead {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: #EFEEE5;
  border: 1px solid rgba(0, 0, 0, 0.16);
}

thead th {
  text-align: left;
  font-weight: 700;
  color: #000;
  padding: 32px;
}

table.small thead th {
  padding: 12px 18px;
}

tbody tr {
  border-left: 1px solid rgba(0, 0, 0, 0.16);
  border-right: 1px solid rgba(0, 0, 0, 0.16);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  border-top: none;
}

tbody td {
  padding: 32px;
}

table.small tbody td {
  padding: 14px 18px;
}

tbody td:last-child { 
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px; 
}

.reimbursment-list li {
  position: relative;
  padding-left: 50px;
  padding-bottom: 32px;

  &:before {
    z-index: 2;
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: #EFD591;
    border-radius: 50%;
  }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 12px;
    left: 8px;
    background: #00000020;
    border-radius: 50%;
  }

  &:last-child:after {
    display: none;
  }
}

.show-list ul {
  list-style: disc;
}

.show-list ul li {
  margin-left: 32px;
}